menuconfig KSDSERV4
       bool "KSD SERVER support event for 'n' devices"

if KSDSERV4

config KSD_MULTI_EVENT
	tristate "Driver event for KSD SERVER" 
        default y
        help
		This is driver for KSD MULTI EVENT for SERVER (two device only) . 
		Say Y here if you have a KSD MULTI EVENT for SERVER in your system.

		To compile this driver as a module, choose M here: the
		module will be called psmouse.

endif
