#
# Serial device configuration
#

config SERIAL_SC16IS7XX
	bool "Serial device SC16IS7XX"

if SERIAL_SC16IS7XX

config SERIAL_SC16IS7XX_I2C_MOD
#	bool "SC16IS7xx modyle for I2C interface"
	tristate "SC16IS7xx serial support on i2c"
	default m
#	#depends on SERIAL_SC16IS7XX
	depends on I2C
#	#select SERIAL_SC16IS7XX_CORE if SERIAL_SC16IS7XX
##	select REGMAP_I2C if I2C
#
	help:
	  Enable SC16IS7xx driver on I2C bus (module),
	  If required say y, and say n to i2c if not required,
	  Enabled by default to support oldconfig.
#	#You must select at least one bus for the driver to be built.

endif

config TINY_SERIAL
        tristate "TINY SERIAL"
        default m
        help: 
	  Enable test driver tiny_serial.
          If required say y, and say n to i2c if not required,
          Enabled by default to support oldconfig.


config TINY_TTY
        tristate "TINY TTY"
        default m
        help:
          Enable test driver tiny_tty.
          If required say y, and say n to i2c if not required,
          Enabled by default to support oldconfig.


#endmenu
